body {
    display: flex;
    margin: 50px;
    font-family: 'Inter';
}

body > * {
    padding: 2rem;
    text-align: center;
    border: 5px solid white;
}

#number {
    font-size: large;
    font-weight: bold;
}

p {
    margin: 5px;
}

#all-container {
    position: relative;
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}


#admin {
    font-size: smaller;
    margin: 5px;
}

#admin-container {
    position: absolute;
    left: 43%;
    bottom: 5%;
}


input {
    font-family: inherit;
    height: 30px;
}

button {
    font-family: inherit;
    margin: 5px;
    padding: 2px 20px 4px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:rgb(225, 225, 225);
    transition: 400ms background-color ease;
}

button:hover {
    background-color: rgb(95, 95, 95);
    color: rgb(225, 225, 225);
}